/* src/components/Notifier/Notifier.css */

.notify {
    background-color: red;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}